.nav-item {
    cursor: pointer;
    align-content: end;
    min-height: 42px;
}

.nav-link.active {
    font-size: 110%;
}

.navbar {
    width: 100%!important;
    padding: 2em;
    background-color: #FFFFFF;
}